In [1]:
# Dependencies
import json
import os
import pandas as pd

In [2]:
with open('json2/field_usa0_part_2.json') as jsonfile:
    study_json = json.load(jsonfile)

In [3]:
# Load JSON

part1= ['NCTId' , 'ArmGroupInterventionName' ,  'ArmGroupType']

In [4]:
#Joining USA0 and USA1

# all fields of part 1
NCTId=[]

ArmGroupInterventionName = []

ArmGroupType = []

In [5]:
#Extract All of Part1

rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])
print (rank_number)

1000

In [6]:
#Extract All of Part1

rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])
print (rank_number)

#Extracting from multiple files

for trial_batch in range (0,2):

    trial_batch = 0
    trial_path="json2/field_usa"+str(trial_batch)+"_part_1.json"

    with open(trial_path) as jsonfile:
        study_json = json.load(jsonfile)

    rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
    fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])

    for x in range (0,rank_number):

    #     if AgreementOtherDetails.append(study_json['StudyFieldsResponse']['StudyFields'][x]['AgreementOtherDetails']='':
    #         AgreementOtherDetails.append(0)
    #     else:
    #         AgreementOtherDetails.append(study_json['StudyFieldsResponse']['StudyFields'][x]['AgreementOtherDetails'][0]

        study_content= study_json['StudyFieldsResponse']['StudyFields'][x]

        if len(study_content['NCTId']) ==0 :
            NCTId.append(0)
        if len(study_content['NCTId']) ==1 :
            NCTId.append(study_content['NCTId'][0]) 
        elif len(study_content['NCTId']) > 1:
            NCTId.append(study_content['NCTId'])  
            
        if len(study_content['ArmGroupInterventionName']) ==0 :
            ArmGroupInterventionName.append(0)
        if len(study_content['ArmGroupInterventionName']) ==1 :
            ArmGroupInterventionName.append(study_content['ArmGroupInterventionName'][0]) 
        elif len(study_content['ArmGroupInterventionName']) > 1:
            ArmGroupInterventionName.append(study_content['ArmGroupInterventionName'])  

        if len(study_content['ArmGroupType']) ==0 :
            ArmGroupType.append(0)
        if len(study_content['ArmGroupType']) ==1 :
            ArmGroupType.append(study_content['ArmGroupType'][0]) 
        elif len(study_content['ArmGroupType']) > 1:
            ArmGroupType.append(study_content['ArmGroupType'])

1000

In [7]:
len(ArmGroupInterventionName)

2000

In [8]:
#Create Dataframe from list
dict1 = { part1[0]:NCTId,

part1[1]:ArmGroupInterventionName,ArmGroupInterventionName

part1[2]:ArmGroupType}

df1 = pd.DataFrame(dict1)

#df1.to_csv('fields_all_part1.csv')

In [9]:
df1

,NCTId,ArmGroupInterventionName,ArmGroupType
0,NCT04371159,Device: Velieve U.S.,Experimental
1,NCT04474496,Other: Assessing impact of COVID19,0
2,NCT02801266,Behavioral: Evidence informed birth control co...,"[Experimental, No Intervention]"
3,NCT01599390,Other: Data collection,0
4,NCT00312702,[Biological: Falciparum Malaria Protein 11 wit...,"[Experimental, Experimental]"
...,...,...,...
1995,NCT00542477,0,0
1996,NCT00529685,0,0
1997,NCT00506220,0,0
1998,NCT00448812,0,0
1999,NCT00350259,0,0

In [15]:
def explodeTable(df_name, column_name):
    tb = df_name[['NCTId', column_name]].copy()
    explode_tb = tb.explode(column_name)
    explode_tb = explode_tb.replace(0, "-")
    explode_tb = explode_tb.sort_values(by=[column_name], ascending=False)
    fr = len(explode_tb) - explode_tb[column_name].str.contains('-', na=False).sum()
    print('feature_row', fr)
    feature_tb = explode_tb.head(fr)
    #.rename(columns={column_name:'features'})

    return feature_tb

In [22]:
tb1= explodeTable(df1, 'ArmGroupInterventionName')
tb1

feature_row 470

            NCTId                           ArmGroupInterventionName
154   NCT01112917             Procedure: Vena Cava Filter Conversion
1154  NCT01112917             Procedure: Vena Cava Filter Conversion
1077  NCT02163525       Procedure: Uterine Artery Embolization (UAE)
77    NCT02163525       Procedure: Uterine Artery Embolization (UAE)
106   NCT01629537  Procedure: Stellate Ganglion Block injection w...
...           ...                                                ...
1005  NCT00312663  Biological: Falciparum Malaria Protein 11 with...
1005  NCT00312663  Biological: Falciparum Malaria Protein 11 with...
5     NCT00312663  Biological: Falciparum Malaria Protein 11 with...
1109  NCT01927835                  Biological: DNA-HIV-PT123 vaccine
1109  NCT01927835                  Biological: DNA-HIV-PT123 vaccine

[470 rows x 2 columns]

In [23]:
tb1['feature'] = tb1['ArmGroupInterventionName'].str.split(' ').str[0]
tb1 = tb1.drop(['ArmGroupInterventionName'], axis=1)
tb1 = tb1.rename(columns={'feature':'ArmGroupInterventionName'})
tb1

            NCTId ArmGroupInterventionName
154   NCT01112917               Procedure:
1154  NCT01112917               Procedure:
1077  NCT02163525               Procedure:
77    NCT02163525               Procedure:
106   NCT01629537               Procedure:
...           ...                      ...
1005  NCT00312663              Biological:
1005  NCT00312663              Biological:
5     NCT00312663              Biological:
1109  NCT01927835              Biological:
1109  NCT01927835              Biological:

[470 rows x 2 columns]

In [24]:
# Creating cross table
Cross_Tb1 = pd.crosstab(index=tb1['NCTId'], columns = tb1['ArmGroupInterventionName'])
Cross_Tb1

ArmGroupInterventionName,Biological:,Device:,Diagnostic,Dietary,Drug:,Genetic:,Other:,Procedure:
NCTId,,,,,,,,
NCT00121108,2,0,0,0,0,0,2,0
NCT00312663,4,0,0,0,0,0,0,0
NCT00312702,4,0,0,0,0,0,0,0
NCT00351741,0,4,0,0,0,0,0,0
NCT00385047,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
NCT04423770,0,0,0,0,0,0,2,0
NCT04474496,0,0,0,0,0,0,2,0
NCT04552535,0,0,0,0,4,0,0,0
NCT04562636,0,0,0,0,0,0,6,0
NCT04587245,0,0,0,0,0,0,2,0

In [25]:
Cross_Tb1.to_csv('Cross_Tb1.csv')

In [28]:
#Creating 0 and 1 matrix table
Cross_Tb1[Cross_Tb1>1]=1
Cross_Tb1.reset_index()
Cross_Tb1

ArmGroupInterventionName,Biological:,Device:,Diagnostic,Dietary,Drug:,Genetic:,Other:,Procedure:
NCTId,,,,,,,,
NCT00121108,1,0,0,0,0,0,1,0
NCT00312663,1,0,0,0,0,0,0,0
NCT00312702,1,0,0,0,0,0,0,0
NCT00351741,0,1,0,0,0,0,0,0
NCT00385047,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
NCT04423770,0,0,0,0,0,0,1,0
NCT04474496,0,0,0,0,0,0,1,0
NCT04552535,0,0,0,0,1,0,0,0
NCT04562636,0,0,0,0,0,0,1,0
NCT04587245,0,0,0,0,0,0,1,0

In [29]:
Cross_Tb1.to_csv('Cross_Tb1_1.csv')

In [30]:
tb2= explodeTable(df1, 'ArmGroupType')
tb2

feature_row 364

            NCTId        ArmGroupType
152   NCT02352532     Sham Comparator
1152  NCT02352532     Sham Comparator
109   NCT01927835  Placebo Comparator
1109  NCT01927835  Placebo Comparator
1114  NCT03382418  Placebo Comparator
...           ...                 ...
107   NCT00351741   Active Comparator
152   NCT02352532   Active Comparator
111   NCT01306266   Active Comparator
97    NCT02069925   Active Comparator
127   NCT01256164   Active Comparator

[364 rows x 2 columns]

In [33]:
Cross_Tb2 = pd.crosstab(index=tb2['NCTId'], columns = tb2['ArmGroupType'])
Cross_Tb2.to_csv('Cross_Tb2.csv')
Cross_Tb2

ArmGroupType,Active Comparator,Experimental,No Intervention,Other,Placebo Comparator,Sham Comparator
NCTId,,,,,,
NCT00121108,2,0,0,0,2,0
NCT00312663,0,4,0,0,0,0
NCT00312702,0,4,0,0,0,0
NCT00351741,2,2,0,0,0,0
NCT00385047,0,4,0,0,0,0
...,...,...,...,...,...,...
NCT04229212,0,2,2,0,0,0
NCT04263311,0,2,2,0,0,0
NCT04281290,0,2,0,0,0,0
NCT04371159,0,2,0,0,0,0
NCT04562636,0,4,0,2,0,0

In [35]:
#Creating 0 and 1 matrix table
Cross_Tb2[Cross_Tb2>1]=1
Cross_Tb2.reset_index()
Cross_Tb2.to_csv('Cross_Tb2_1.csv')
Cross_Tb2

ArmGroupType,Active Comparator,Experimental,No Intervention,Other,Placebo Comparator,Sham Comparator
NCTId,,,,,,
NCT00121108,1,0,0,0,1,0
NCT00312663,0,1,0,0,0,0
NCT00312702,0,1,0,0,0,0
NCT00351741,1,1,0,0,0,0
NCT00385047,0,1,0,0,0,0
...,...,...,...,...,...,...
NCT04229212,0,1,1,0,0,0
NCT04263311,0,1,1,0,0,0
NCT04281290,0,1,0,0,0,0
NCT04371159,0,1,0,0,0,0
NCT04562636,0,1,0,1,0,0

In [ ]:
feature_table = pd.DataFrame()
feature_table = feature_table.append(feature_tb1, ignore_index = True)
feature_table = feature_table.append(feature_tb2, ignore_index = True)
feature_table

In [ ]:
Cross_Tb = pd.crosstab(index=feature_table['NCTId'], columns = feature_table['features'])
Cross_Tb