In [2]:
# Dependencies
import json
import os
import pandas as pd

In [3]:
with open('json2/field_usa0_part_3.json') as jsonfile:
    study_json = json.load(jsonfile)

In [4]:
# Load JSON

part1= ['ConditionAncestorId']

In [5]:
#Joining USA0 and USA1

# all fields of part 1
NCTId=[]

BaselineClassDenomCountGroupId = []

BaselineDenomCountGroupId = []

In [6]:
#Extract All of Part1

rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])
print (rank_number)

1000

In [7]:
#Extract All of Part1

rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])
print (rank_number)

#Extracting from multiple files

for trial_batch in range (0,2):

    trial_batch = 0
    trial_path="json2/field_usa"+str(trial_batch)+"_part_1.json"

    with open(trial_path) as jsonfile:
        study_json = json.load(jsonfile)

    rank_number = len(study_json["StudyFieldsResponse"]["StudyFields"])
    fields_number =len( study_json["StudyFieldsResponse"]["StudyFields"][0])

    for x in range (0,rank_number):

    #     if AgreementOtherDetails.append(study_json['StudyFieldsResponse']['StudyFields'][x]['AgreementOtherDetails']='':
    #         AgreementOtherDetails.append(0)
    #     else:
    #         AgreementOtherDetails.append(study_json['StudyFieldsResponse']['StudyFields'][x]['AgreementOtherDetails'][0]

        study_content= study_json['StudyFieldsResponse']['StudyFields'][x]

        if len(study_content['NCTId']) ==0 :
            NCTId.append(0)
        if len(study_content['NCTId']) ==1 :
            NCTId.append(study_content['NCTId'][0]) 
        elif len(study_content['NCTId']) > 1:
            NCTId.append(study_content['NCTId'])  
            
        if len(study_content['BaselineClassDenomCountGroupId']) ==0 :
            BaselineClassDenomCountGroupId.append(0)
        if len(study_content['BaselineClassDenomCountGroupId']) ==1 :
            BaselineClassDenomCountGroupId.append(study_content['BaselineClassDenomCountGroupId'][0]) 
        elif len(study_content['BaselineClassDenomCountGroupId']) > 1:
            BaselineClassDenomCountGroupId.append(study_content['BaselineClassDenomCountGroupId'])  

        if len(study_content['BaselineDenomCountGroupId']) ==0 :
            BaselineDenomCountGroupId.append(0)
        if len(study_content['BaselineDenomCountGroupId']) ==1 :
            BaselineDenomCountGroupId.append(study_content['BaselineDenomCountGroupId'][0]) 
        elif len(study_content['BaselineDenomCountGroupId']) > 1:
            BaselineDenomCountGroupId.append(study_content['BaselineDenomCountGroupId'])

1000

In [8]:
len(BaselineDenomCountGroupId)

2000

In [9]:
#Create Dataframe from list
dict1 = { part1[0]:NCTId,

part1[1]:BaselineClassDenomCountGroupId,

part1[2]:BaselineDenomCountGroupId}

df1 = pd.DataFrame(dict1)

#df1.to_csv('fields_all_part1.csv')

In [11]:
df1.to_csv('NCTId_Part1.csv',index=False)
df1

            NCTId BaselineClassDenomCountGroupId     BaselineDenomCountGroupId
0     NCT04371159                              0                             0
1     NCT04474496                              0                             0
2     NCT02801266                              0                             0
3     NCT01599390                              0                             0
4     NCT00312702                              0  [BG000, BG001, BG002, BG003]
...           ...                            ...                           ...
1995  NCT00542477                              0                             0
1996  NCT00529685                              0                             0
1997  NCT00506220                              0                             0
1998  NCT00448812                              0                             0
1999  NCT00350259                              0                             0

[2000 rows x 3 columns]

In [20]:
tb1 = df1[['NCTId','BaselineClassDenomCountGroupId']].copy()
explode_tb1 = tb1.explode('BaselineClassDenomCountGroupId')
explode_tb1 = explode_tb1.replace(0, "-")
explode_tb1 = explode_tb1.sort_values(by=['BaselineClassDenomCountGroupId'], ascending=False)
explode_tb1

            NCTId BaselineClassDenomCountGroupId
41    NCT02395536                          BG002
41    NCT02395536                          BG002
41    NCT02395536                          BG002
41    NCT02395536                          BG002
1041  NCT02395536                          BG002
...           ...                            ...
679   NCT02195128                              -
678   NCT02195362                              -
677   NCT02218450                              -
676   NCT02223663                              -
1999  NCT00350259                              -

[2094 rows x 2 columns]

In [21]:
tr1 = len(explode_tb1)
er1 = explode_tb1['BaselineClassDenomCountGroupId'].str.contains('-', na=False).sum()
fr1 = tr1 - er1
print('feature_row', fr1, 'total_row', 'empty_row')

feature_row 98 total_row empty_row

In [38]:
feature_tb1 = explode_tb1.head(fr1).rename(columns={'BaselineClassDenomCountGroupId':'features'})
feature_tb1.tail(5)

            NCTId features
41    NCT02395536    BG000
1041  NCT02395536    BG000
1041  NCT02395536    BG000
41    NCT02395536    BG000
1041  NCT02395536    BG000

In [25]:
tb2 = df1[['NCTId','BaselineDenomCountGroupId']].copy()
explode_tb2 = tb2.explode('BaselineDenomCountGroupId')
explode_tb2 = explode_tb2.replace(0, "-")
explode_tb2 = explode_tb2.sort_values(by=['BaselineDenomCountGroupId'], ascending=False)
explode_tb2

            NCTId BaselineDenomCountGroupId
74    NCT01087905                     BG008
1074  NCT01087905                     BG008
74    NCT01087905                     BG007
1074  NCT01087905                     BG007
1074  NCT01087905                     BG006
...           ...                       ...
686   NCT02142023                         -
685   NCT02142374                         -
684   NCT02142465                         -
683   NCT02166073                         -
1999  NCT00350259                         -

[2072 rows x 2 columns]

In [28]:
tr2 = len(explode_tb2)
er2 = explode_tb2['BaselineDenomCountGroupId'].str.contains('-', na=False).sum()
fr2 = tr2 - er2
print('feature_row', fr2, 'total_row', 'empty_row')

feature_row 122 total_row empty_row

In [35]:
feature_tb2 = explode_tb2.head(fr2).rename(columns={'BaselineDenomCountGroupId':'features'})
feature_tb2.tail(5)

            NCTId features
1005  NCT00312663    BG000
74    NCT01087905    BG000
1046  NCT00875641    BG000
1099  NCT02746809    BG000
131   NCT02939131    BG000

In [40]:
feature_table = pd.DataFrame()
feature_table = feature_table.append(feature_tb1, ignore_index = True)
feature_table = feature_table.append(feature_tb2, ignore_index = True)
feature_table

           NCTId features
0    NCT02395536    BG002
1    NCT02395536    BG002
2    NCT02395536    BG002
3    NCT02395536    BG002
4    NCT02395536    BG002
..           ...      ...
215  NCT00312663    BG000
216  NCT01087905    BG000
217  NCT00875641    BG000
218  NCT02746809    BG000
219  NCT02939131    BG000

[220 rows x 2 columns]

In [43]:
Cross_Tb = pd.crosstab(index=feature_table['NCTId'], columns = feature_table['features'])
Cross_Tb

features     BG000  BG001  BG002  BG003  BG004  BG005  BG006  BG007  BG008
NCTId
NCT00312663      2      2      2      2      0      0      0      0      0
NCT00312702      2      2      2      2      0      0      0      0      0
NCT00351741      2      2      2      0      0      0      0      0      0
NCT00601835      2      2      2      0      0      0      0      0      0
NCT00724867      2      0      0      0      0      0      0      0      0
NCT00730964      2      0      0      0      0      0      0      0      0
NCT00796315      2      0      0      0      0      0      0      0      0
NCT00875641      2      2      2      2      0      0      0      0      0
NCT00928694      2      0      0      0      0      0      0      0      0
NCT01028300      2      0      0      0      0      0      0      0      0
NCT01087905      2      2      2      2      2      2      2      2      2
NCT01112917      2      0      0      0      0      0      0      0      0
NCT01154296      2      2      2      0      0      0      0      0      0
NCT01256164      2      2      2      0      0      0      0      0      0
NCT01369030      2      0      0      0      0      0      0      0      0
NCT01568424      2      0      0      0      0      0      0      0      0
NCT01965561      2      0      0      0      0      0      0      0      0
NCT02128542      2      2      2      0      0      0      0      0      0
NCT02207569      2      0      0      0      0      0      0      0      0
NCT02395536     32     32     32      0      0      0      0      0      0
NCT02746809     10      0      0      0      0      0      0      0      0
NCT02813577      2      0      0      0      0      0      0      0      0
NCT02939131      4      4      4      0      0      0      0      0      0
NCT02959827      2      0      0      0      0      0      0      0      0
NCT03973905      2      2      2      0      0      0      0      0      0