In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle

In [21]:
# Loading the data (in this case it is CSV)

df1 =pd.read_csv( "../../CSVTables/Cross_Tb1.csv")
df2 =pd.read_csv("../../CSVTables/Cross_Tb2.csv")
df3 = pd.read_csv("../../CSVTables/Cross_Tb3.csv")
df4 = pd.read_csv("../../CSVTables/Cross_Tb4.csv")
df5 = pd.read_csv("../../CSVTables/Cross_Tb5.csv")
# df6 = pd.read_csv("../../CSVTables/Cross_Tb6.csv")
df7 = pd.read_csv("../../CSVTables/Cross_Tb7.csv")
# df8 = pd.read_csv("../../CSVTables/Cross_Tb8.csv")
# df9 = pd.read_csv("../../CSVTables/Cross_Tb9.csv")
df10 = pd.read_csv("../../CSVTables/Cross_Tb10.csv")
df11 = pd.read_csv("../../CSVTables/Cross_Tb11.csv")
df12 = pd.read_csv("../../CSVTables/Cross_Tb12.csv")
df13 = pd.read_csv("../../CSVTables/Cross_Tb13.csv")
# df14 = pd.read_csv("../../CSVTables/Cross_Tb14.csv")
df15 = pd.read_csv("../../CSVTables/Cross_Tb15.csv")
# df16 = pd.read_csv("../../CSVTables/Cross_Tb16.csv")
df17 = pd.read_csv("../../CSVTables/Cross_Tb17.csv")
# df18 = pd.read_csv("../../CSVTables/Cross_Tb18.csv")
# df19 = pd.read_csv("../../CSVTables/Cross_Tb19.csv")
df20 = pd.read_csv("../../CSVTables/Cross_Tb20.csv")
df21 = pd.read_csv("../../CSVTables/Cross_Tb21.csv")
df22 = pd.read_csv("../../CSVTables/Cross_Tb22.csv")
df23 = pd.read_csv("../../CSVTables/Cross_Tb23.csv")
# df24 = pd.read_csv("../../CSVTables/Cross_Tb24.csv")
df25 = pd.read_csv("../../CSVTables/Cross_Tb25.csv")
# df26 = pd.read_csv("../../CSVTables/Cross_Tb26.csv")
df27 = pd.read_csv("../../CSVTables/Cross_Tb27.csv")
df28 = pd.read_csv("../../CSVTables/Cross_Tb28.csv")
df29 = pd.read_csv("../../CSVTables/Cross_Tb29.csv")
df30 = pd.read_csv("../../CSVTables/EnrollmentCount_Tb.csv")
df31 = pd.read_csv("../../CSVTables/tb00.csv")

# Trial Using CSV

In [58]:
list_of_df = [df1, df2, df3, df4, df5, df7, df10, df11, df12, df13, df15, df17, df20, df21, df22, df23, df25, df27, df28, df29, df30, df31]

In [22]:
#Drop the data I don't want.
#Erase this step when closing the 

df_new = df31.join(df29)

for dframe in range(0, len(list_of_df) ):
    list_of_df[dframe]

df29 = df29.drop(df29.columns[[0,1]], axis=1)
df30 = df30.drop(df30.columns[[0,1]], axis=1)

df_new = df31.join(df29)
df_new = df_new.join(df30)

In [23]:
df_new.head()

,NCTId,OverallStatus,Phase_1,Phase_2,Phase_3,Phase_4,Phase_n/a,tb29_ExpandedAccess,tb29_Interventional,tb29_Observational,51-100,101-200,201-500,501-1000,1001-10000,10000plus
0,NCT00000102,Completed,1,1,0,0,0,0,1,0,0,1,0,0,0,0
1,NCT00000104,Completed,0,0,0,0,1,0,0,1,0,0,0,0,1,0
2,NCT00000105,Terminated,0,0,0,0,1,0,0,1,0,0,0,0,1,0
3,NCT00000106,Other,0,0,0,0,1,0,1,0,0,0,0,0,0,0
4,NCT00000107,Completed,0,0,0,0,1,0,0,1,0,0,0,0,0,0

In [24]:
## 2. Regression Machine learning using sample data

In [25]:
### 2.a Prepping: extract the name of the column

key_name =  df_new.keys()
X_name = key_name[3:]

X_name

Index(['Phase_2', 'Phase_3', 'Phase_4', 'Phase_n/a', 'tb29_ExpandedAccess',
       'tb29_Interventional', 'tb29_Observational', '51-100', '101-200',
       '201-500', '501-1000', '1001-10000', '10000plus'],
      dtype='object')

In [26]:
### 2.b Select the data we want.
### In this case, we only pick Phase 2, and the Overall Status has to be either

df_filtered = df_new[ df_new["Phase_2"] == 1 ]
df_filtered = df_filtered[ (df_filtered["OverallStatus"] == "Completed") | (df_filtered ["OverallStatus"] =="Terminated")  ]
df_filtered.head()

,NCTId,OverallStatus,Phase_1,Phase_2,Phase_3,Phase_4,Phase_n/a,tb29_ExpandedAccess,tb29_Interventional,tb29_Observational,51-100,101-200,201-500,501-1000,1001-10000,10000plus
0,NCT00000102,Completed,1,1,0,0,0,0,1,0,0,1,0,0,0,0
37,NCT00000187,Completed,0,1,0,0,0,0,1,0,1,0,0,0,0,0
38,NCT00000188,Completed,0,1,0,0,0,0,1,0,0,1,0,0,0,0
39,NCT00000189,Completed,0,1,0,0,0,0,1,0,0,0,0,0,0,0
41,NCT00000191,Completed,0,1,0,0,0,0,1,0,0,0,0,1,0,0

In [43]:
df_filtered.groupby("OverallStatus").count()

,NCTId,Phase_1,Phase_2,Phase_3,Phase_4,Phase_n/a,tb29_ExpandedAccess,tb29_Interventional,tb29_Observational,51-100,101-200,201-500,501-1000,1001-10000,10000plus
OverallStatus,,,,,,,,,,,,,,,
Completed,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973,17973
Terminated,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296,5296

In [27]:
### 2.c Assign data to X and Y

X = df_filtered[X_name]
y = df_filtered["OverallStatus"]
print(X.shape , y.shape)

(23269, 13) (23269,)

In [44]:
### 2.d Use train_test_split to create training and testing data

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [45]:
# Create the model using LinearRegression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
# Fit the model to the training data and calculate the scores for the training and testing data

### BEGIN SOLUTION
classifier.fit(X_train, y_train)

### END SOLUTION 

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7721047504441007
Testing Data Score: 0.773289790305947

C:\Users\haeze\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [49]:
predictions = classifier.predict(X_test)
print(f"First 30 Predictions:   {predictions[:30]}")
print(f"First 30 Actual labels: {y_test[:30].tolist()}")

First 30 Predictions:   ['Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed']
First 30 Actual labels: ['Completed', 'Completed', 'Completed', 'Completed', 'Terminated', 'Terminated', 'Completed', 'Completed', 'Completed', 'Terminated', 'Completed', 'Completed', 'Completed', 'Completed', 'Terminated', 'Terminated', 'Completed', 'Terminated', 'Completed', 'Completed', 'Completed', 'Completed', 'Completed', 'Completed', 'Completed', 'Terminated', 'Completed', 'Completed', 'Completed', 'Terminated']

In [54]:
np.unique(predictions)

array(['Completed'], dtype=object)

In [50]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction      Actual
0     Completed   Completed
1     Completed   Completed
2     Completed   Completed
3     Completed   Completed
4     Completed  Terminated
...         ...         ...
5813  Completed   Completed
5814  Completed   Completed
5815  Completed   Completed
5816  Completed   Completed
5817  Completed   Completed

[5818 rows x 2 columns]

In [33]:
#4. save the regression model
filename = "clinical_trial.sav"
pickle.dump(classifier , open(filename, 'wb'))

In [55]:
### 5. Try applying the model into other non-concluded trial.

### 5.a Predict using other data

df_other_trial = df_new[ df_new["Phase_2"] == 1 ]
df_other_trial = df_other_trial[ (df_other_trial["OverallStatus"] != "Completed") | (df_other_trial["OverallStatus"] != "Terminated") ]
df_other_trial.head()

,NCTId,OverallStatus,Phase_1,Phase_2,Phase_3,Phase_4,Phase_n/a,tb29_ExpandedAccess,tb29_Interventional,tb29_Observational,51-100,101-200,201-500,501-1000,1001-10000,10000plus
0,NCT00000102,Completed,1,1,0,0,0,0,1,0,0,1,0,0,0,0
11,NCT00000119,Other,0,1,0,0,0,0,1,0,0,0,0,0,0,0
37,NCT00000187,Completed,0,1,0,0,0,0,1,0,1,0,0,0,0,0
38,NCT00000188,Completed,0,1,0,0,0,0,1,0,0,1,0,0,0,0
39,NCT00000189,Completed,0,1,0,0,0,0,1,0,0,0,0,0,0,0

In [35]:
### 5.b Assign data to X and Y

X_other = df_other_trial[X_name]
y_other = df_other_trial["OverallStatus"]
print(X.shape , y.shape)

(23269, 13) (23269,)

In [36]:
predictions_other = classifier.predict(X_other)
print(f"First 30 Predictions:   {predictions[:30]}")

First 30 Predictions:   ['Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed'
 'Completed' 'Completed' 'Completed' 'Completed' 'Completed' 'Completed']

In [37]:
other_result = pd.DataFrame({"Prediction": predictions}).reset_index(drop=True)
other_result

     Prediction
0     Completed
1     Completed
2     Completed
3     Completed
4     Completed
...         ...
5813  Completed
5814  Completed
5815  Completed
5816  Completed
5817  Completed

[5818 rows x 1 columns]

In [38]:
other_result[other_result["Prediction"] != "Completed"]

Empty DataFrame
Columns: [Prediction]
Index: []