In [1]:
# Dependencies
import json
import os
import pandas as pd

In [2]:
#open json
object_path = 'renamed_all_data.json'
with open(object_path) as jsonfile:
       data_json = json.load(jsonfile)
df_from_json = pd.DataFrame(data_json)

In [3]:
df_from_json

,NCTId,ArmGroupInterventionName,ArmGroupType,BaselineMeasureDispersionType,BaselineMeasureParamType,CollaboratorClass,ConditionBrowseBranchAbbrev,ConditionBrowseLeafId,ConditionMeshId,DesignAllocation,...,IsFDARegulatedDevice,IsFDARegulatedDrug,LeadSponsorClass,OverallStatus,PatientRegistry,Phase,StdAge,StudyType,ConditionAncestorId,SamplingMethod
0,NCT04371159,Device: Velieve U.S.,Experimental,0,0,0,"[BC01, All, BXS]","[M8866, M4951, M15885, M15902]",D000014552,N/A,...,Yes,No,INDUSTRY,Completed,0,Not Applicable,"[Adult, Older Adult]",Interventional,"[D000007239, D000014570]",0
1,NCT04474496,Other: Assessing impact of COVID19,0,0,0,OTHER,"[BC18, BC19, All]","[M5698, M5702]",0,0,...,No,No,OTHER,Enrolling by invitation,No,0,"[Adult, Older Adult]",Observational,0,Non-Probability Sample
2,NCT02801266,Behavioral: Evidence informed birth control co...,"[Experimental, No Intervention]",0,0,OTHER,0,0,0,Randomized,...,0,0,OTHER,Completed,0,Not Applicable,Adult,Interventional,0,0
3,NCT01599390,Other: Data collection,0,0,0,INDUSTRY,"[BC02, BC08, All, BC01]","[M8878, M8866, M4951, M11485, M16105, M13732, ...",D000007251,0,...,0,0,INDUSTRY,Completed,0,0,"[Child, Adult, Older Adult]",Observational,"[D000009976, D000012327, D000014777, D00001214...",Non-Probability Sample
4,NCT00312702,[Biological: Falciparum Malaria Protein 11 wit...,"[Experimental, Experimental]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...","[INDUSTRY, OTHER, FED]","[BC03, All, BC01, Rare]","[M17716, M9863, M8866, M4951, M12971, M11768, ...","[D000008288, D000016778]",Randomized,...,0,0,FED,Completed,0,"[Phase 1, Phase 2]",Adult,Interventional,"[D000011528, D000010272]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138972,NCT00002678,"[Drug: melphalan, Drug: prednisone, Drug: dexa...","[Active Comparator, Active Comparator]",0,0,0,"[BC04, BC14, BC15, BC20, All, Rare]","[M10641, M26175, M12427, M10898, M20561, M3641...","[D000009101, D000054219, D000010954]",Randomized,...,No,Yes,NETWORK,Completed,0,Phase 3,"[Adult, Older Adult]",Interventional,"[D000009370, D000009369, D000020141, D00001465...",0
138973,NCT04183179,"Behavioral: Happy Family, Healthy Kids Program",Experimental,0,0,0,"[BC18, BC23, All, BXM]","[M11284, M14688, M28742, M23894, M11267, M2477...",D000063766,N/A,...,No,No,OTHER,Not yet recruiting,0,"[Phase 1, Phase 2]",Child,Interventional,"[D000009765, D000044343, D000009748, D00005017...",0
138974,NCT03278743,[Other: Cognitive performance and cognitive de...,0,0,0,0,0,0,0,0,...,No,No,OTHER,Completed,No,0,Older Adult,Observational,0,Non-Probability Sample
138975,NCT02740686,"[Other: Sample collection, Other: Sample colle...",0,0,0,OTHER_GOV,"[BC23, All, BC08]","[M8876, M9751, M9753, M22033, M13560]","[D000008173, D000029424]",0,...,0,0,OTHER,Completed,No,0,"[Adult, Older Adult]",Observational,"[D000008171, D000012140]",Probability Sample
138976,NCT04403789,"[Other: Exercise Time, Behavioral: Supervised ...","[Experimental, Active Comparator]",0,0,OTHER,"[BC18, BC19, All, BC14]","[M5698, M8607, M12700, M18878, M10222, M23990,...","[D000006973, D000011236]",Randomized,...,No,No,OTHER,Not yet recruiting,0,Not Applicable,Adult,Interventional,"[D000003920, D000044882, D000008659, D00000470...",0

In [4]:
tb = df_from_json[['NCTId', 'EnrollmentCount']].copy()
tb

              NCTId EnrollmentCount
0       NCT04371159             125
1       NCT04474496            2000
2       NCT02801266            1418
3       NCT01599390               1
4       NCT00312702              18
...             ...             ...
138972  NCT00002678             595
138973  NCT04183179             320
138974  NCT03278743            1042
138975  NCT02740686              85
138976  NCT04403789             150

[138977 rows x 2 columns]

In [5]:
tb['EnrollmentCount'] = tb['EnrollmentCount'].astype(int)

In [6]:
df = df_from_json[['NCTId']].copy()

In [7]:
df['0-50'] = [1 if x <= 50 else 0 for x in tb['EnrollmentCount']]
df['51-100'] = [1 if (x > 50 and x <= 100) else 0 for x in tb['EnrollmentCount']]
df['101-200'] = [1 if (x > 100 and x <= 200) else 0 for x in tb['EnrollmentCount']]
df['201-400'] = [1 if (x > 200 and x <= 400) else 0 for x in tb['EnrollmentCount']]
df['401-600'] = [1 if (x > 400 and x <= 600) else 0 for x in tb['EnrollmentCount']]
df['601-800'] = [1 if (x > 600 and x <= 800) else 0 for x in tb['EnrollmentCount']]
df['801-1000'] = [1 if (x > 800 and x <= 1000) else 0 for x in tb['EnrollmentCount']]
df['1000plus'] = [1 if x > 1000 else 0 for x in tb['EnrollmentCount']]
df

,NCTId,0-50,51-100,101-200,201-400,401-600,601-800,801-1000,1000plus
0,NCT04371159,0,0,1,0,0,0,0,0
1,NCT04474496,0,0,0,0,0,0,0,1
2,NCT02801266,0,0,0,0,0,0,0,1
3,NCT01599390,1,0,0,0,0,0,0,0
4,NCT00312702,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
138972,NCT00002678,0,0,0,0,1,0,0,0
138973,NCT04183179,0,0,0,1,0,0,0,0
138974,NCT03278743,0,0,0,0,0,0,0,1
138975,NCT02740686,0,1,0,0,0,0,0,0
138976,NCT04403789,0,0,1,0,0,0,0,0

In [8]:
df1 = df.copy()
df1.loc['Total',:]= df1.sum(axis=0)
df1

,NCTId,0-50,51-100,101-200,201-400,401-600,601-800,801-1000,1000plus
0,NCT04371159,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,NCT04474496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,NCT02801266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,NCT01599390,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NCT00312702,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
138973,NCT04183179,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
138974,NCT03278743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
138975,NCT02740686,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
138976,NCT04403789,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Total,NCT04371159NCT04474496NCT02801266NCT01599390NC...,65780.0,24213.0,18175.0,13116.0,5751.0,2812.0,2045.0,7085.0

In [9]:
df2 = df_from_json[['NCTId']].copy()

In [10]:
df2['0-50'] = [1 if x <= 50 else 0 for x in tb['EnrollmentCount']]
df2['51-100'] = [1 if (x > 50 and x <= 100) else 0 for x in tb['EnrollmentCount']]
df2['101-200'] = [1 if (x > 100 and x <= 200) else 0 for x in tb['EnrollmentCount']]
df2['201-500'] = [1 if (x > 200 and x <= 500) else 0 for x in tb['EnrollmentCount']]
df2['501-1000'] = [1 if (x > 500 and x <= 1000) else 0 for x in tb['EnrollmentCount']]
df2['1001-10000'] = [1 if (x > 1000 and x <= 10000) else 0 for x in tb['EnrollmentCount']]
df2['10000plus'] = [1 if x > 10000 else 0 for x in tb['EnrollmentCount']]
df2

,NCTId,0-50,51-100,101-200,201-500,501-1000,1001-10000,10000plus
0,NCT04371159,0,0,1,0,0,0,0
1,NCT04474496,0,0,0,0,0,1,0
2,NCT02801266,0,0,0,0,0,1,0
3,NCT01599390,1,0,0,0,0,0,0
4,NCT00312702,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
138972,NCT00002678,0,0,0,0,1,0,0
138973,NCT04183179,0,0,0,1,0,0,0
138974,NCT03278743,0,0,0,0,0,1,0
138975,NCT02740686,0,1,0,0,0,0,0
138976,NCT04403789,0,0,1,0,0,0,0

In [11]:
df2.to_csv('CSVTables/EnrollmentCount_Tb.csv', index=False)

In [12]:
df3 = df2.copy()
df3.loc['Total',:]= df3.sum(axis=0)
df3

,NCTId,0-50,51-100,101-200,201-500,501-1000,1001-10000,10000plus
0,NCT04371159,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,NCT04474496,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,NCT02801266,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,NCT01599390,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NCT00312702,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
138973,NCT04183179,0.0,0.0,0.0,1.0,0.0,0.0,0.0
138974,NCT03278743,0.0,0.0,0.0,0.0,0.0,1.0,0.0
138975,NCT02740686,0.0,1.0,0.0,0.0,0.0,0.0,0.0
138976,NCT04403789,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Total,NCT04371159NCT04474496NCT02801266NCT01599390NC...,65780.0,24213.0,18175.0,16595.0,7129.0,6050.0,1035.0